@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  border-radius: 10px;
  outline: none; 
}

body {
  background-color: #666;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

header {
  text-align: center;
  background-color: #333;
  padding: 0.5em 0.5em;
}
header h1{
  font-size: 2.7em;
}

.number {
  display: inline;
} 

#rows {
  background-color: #444;
  padding: 2em;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 10px;
}

#rows h2 {
  margin: 5px;
  margin-bottom: 0.5em; 
  font-size: 2.5em;
  text-transform: uppercase;
}
#rows input {
  font-size: 1em;
  border-radius: 0; 
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}
#rows button {
  margin: auto;
  margin-top: 10px;
  border-radius: 0;
  padding: 0.5em 1em;  
  color: #fff;
  border: 1px solid #333;
  width: 225px;;
  font-size: 1em; 
  display: block;
}
#numbers {
  position: absolute;
  bottom: 10px;
  text-align: center;
  background-color: #444;
  padding: 10px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: fit-content;
  animation: slideUp 0.5s 1;
}

@keyframes slideUp {
  0% {
    bottom: -100px
  } 
  100% {
    bottom: 10px;
  }
}

#message {
  display: block;
}

#submit {
  background-color: green;
}

#clear {
  background-color: red;
}